.container{
  max-width: 500 !important;
  margin: auto;
  margin-top: 4%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
img{
  max-width: 100%;
  border-radius: 50%;
}
.msg-header{
  height: 80px;
  border-bottom: none;
  background-color: #f9d162;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}
.msg-header-img{
  border-radius: 50%;
  width: 40px;
  margin-left: 5%;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
}
.active{
  width: 120px;
  float: left;
  margin-top: 10px;
}
.active h4{
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  color: #004085;
  line-height: 3.2;
}

.msg-inbox{
  overflow: hidden;
  padding-bottom: 0px;
  background: #f8f9fa;
  height: 476px;
}
.msg-page{
  height: 476px;
  overflow: auto;
  overflow-x: auto;
  padding-top: -10px;
}
.msg-page::-webkit-scrollbar{
  width: 10px;
}
.msg-page::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.received-chats{
  padding-top: 10px;
  padding-bottom: 10px;
}
.received-msg{
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received-msg-inbox{
  width: 57%;
}
.received-msg-inbox p{
  background: #007bffba none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 82%
}

.outgoing-chats{
  overflow: hidden;
  margin: 26px 20px;
}
.outgoing-chats-msg p{
  background: #28a745b8 none repeat scroll 0 0;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing-chats-msg{
  float: left;
  width: 36%;
  margin-left: 62%;
}
.msg-bottom{
  position: relative;
  background-color: #f9d162;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 80px;
}


.inputbox{
  float: left;
  padding-left:40px;
  padding-top:10px;

}
.sendbtn{
  float:right;
  padding-top:10px;
  padding-right:40px;
}


/* Style the input field */
.inputbox input {
  width: 260px;
  flex: 1; /* Take up available space */
  padding: 10px;
  border: 2px solid #0074d9; /* Colorful border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

/* Style the send button */
.sendbtn button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendbtn button:hover {
  background-color: #0056a7; /* Darker color on hover */
}
